---
import { getCollection, getEntry } from "astro:content"

import "../../styles/global.css"
import BaseLayout from "../../layouts/BaseLayout.astro"
import CategoryHero from "../../components/CategoryHero.astro"
import ProductRow from "../../components/ProductRow.astro"

const { categoryId } = Astro.params;

const category = await getEntry('categories', categoryId)!

const products = await getCollection('products', ({ data }) => {
    return data.category.id === categoryId
})

export async function getStaticPaths() {
  return [
    { params: { categoryId: 'sicak-kahve' } }
  ]
}
---

<BaseLayout>
  
  <!-- HERO -->
  <CategoryHero title={category.data.title} imagePath={`/src/assets/categories/${category.id}.png`} />
  <!-- HERO -->
  
  <!-- PRODUCT LISTING -->
  <div class="flex flex-col gap-2 p-2">
    {products.map(product => (
      <ProductRow title={product.data.title} price={product.data.price} imagePath={`/src/assets/products/${product.id}.png`} />
    ))}
  </div>
  <!-- PRODUCT LISTING -->

</BaseLayout>