---
import { getCollection } from "astro:content"

import "../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro"
import CategoryCard from '../components/CategoryCard.astro'


const allCategories = await getCollection('categories')
---

<BaseLayout>
    <!-- TEMP -->
    <h1>Kategoriler</h1>
    <ul>
      {allCategories.map(category => (
        <li>
          {category.id}: {category.data.title} ({`src/assets/${category.id}.png`})
        </li>
      ))}
    </ul>
    <!-- TEMP -->
    
    <!-- CATEGORY LISTING -->
    <div class="grid grid-cols-2 auto-rows-[150px]">
      {allCategories.map(category => (
        <CategoryCard id={category.id} title={category.data.title} imagePath={`/src/assets/categories/${category.id}.png`} />
      ))}
    </div>
    <!-- CATEGORY LISTING -->

  </BaseLayout>
